@font-face {
  font-family: 'circe';
  src: url(../font/circe-light.ttf);
  font-family: 'Plumb';
  src: url(../font/plumb-black.otf);
}
body {
  color: #fff;
  font-family: 'circe';
  font-size: 16px;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: #fff;
  text-decoration: none;
}
/* header */
header {
  width: 100%;
  background: url(./img/bgc.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.header_border {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 275px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header_container {
  padding: 33px 0px;
  width: 81%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.margin_header {
  padding-bottom: 280px;
}
.nav_link {
  color: inherit;
  line-height: 1.35em;
  padding-right: 47px;
}
.nav_link:first {
  padding-left: 10px;
}
.nav_link:last-child {
  padding-right: 0px;
}
.img_header {
  display: flex;
  align-items: center;
}
.lenth {
  margin-right: 70px;
  cursor: pointer;
}
.input_lenth {
  font-size: 16px;
  opacity: 0.8;
  outline: none;
  width: 20%;
  position: absolute;
  right: 40px;
  top: 60px;
  height: 30px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}
.menu_search {
  width: 90%;
  position: absolute;
  right: 15px;
  top: 420px;
}
li > .lenth {
  margin-right: 10px;
}
.input_lenth::placeholder {
  padding-left: 10px;
  font-size: 14px;
}
.img_header a {
  color: inherit;
}
.h1_expo {
  font-family: 'Plumb';
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.p_expo {
  font-family: 'circe';
  font-size: 24px;
  line-height: 1.4em;
}
.complect_expo {
  font-family: 'circe';
  display: flex;
}
.complect_p {
  font-family: inherit;
  font-size: 17px;
  color: #fff;
  line-height: 1.35em;
  padding-right: 10px;
  letter-spacing: 0.05em;
}
.fore_block_header {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 30px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

.color_div_p {
  font-family: 'circe';
  font-weight: normal;
  font-size: 14px;
  line-height: 1.35em;
  color: #ffffff;
  margin-right: 10px;
}
.color_h2 {
  font-size: 21px;
  line-height: 1.3em;
}
.color_div {
  padding: 30px 0px 0px 40px;
  margin: 15px;
  width: 250px;
}
.blue_div {
  background-color: #2378fc;
}
.green_div {
  background-color: #30bcc9;
}
.yellow_div {
  background-color: #ffc41e;
}
.red_div {
  background-color: #f6404f;
}
/* Menu burger */
.menu_burger {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 23px;
  cursor: pointer;
}
.menu_burger img {
  width: 100%;
}
.nav_burger {
  list-style: none;
  padding-top: 20px;
}
.close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5px;
  top: 20px;
}

.navig_burger {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #5087b9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav_burger li {
  padding: 20px 10px 0px 0px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

ul img {
  width: 40px;
}
.language_menu {
  font-size: 24px;
}

/* blue section */
.blue_section {
  width: 100%;
  background-color: #2378fc;
}

.check_info {
  font-size: 28px;
  color: #e0e0e0;
  display: inline-block;
  width: 100%;
}

.block_h3 {
  background-color: #2378fc;
}

.menu_items {
  margin-top: 60px;
  margin-bottom: 75px;
}
.items_h3 {
  font-family: 'Plumb';
  font-size: 30px;
  line-height: 1.3em;
  padding-bottom: 10px;
  letter-spacing: -0.01em;
}
.items_p {
  font-family: 'circe';
  font-size: 16px;
  line-height: 1.35em;
  color: #ffffff;
  letter-spacing: 0.02em;
  transition: color 0.2s ease;
}
.items_p:hover {
  color: #ffc41e;
  cursor: pointer;
}
/* yellow section */
.yellow_section {
  width: 100%;
  padding-top: 75px;
  background: #ffc41e;
  color: #2e373b;
}
.yellow_section a {
  color: #2e373b;
}

.event {
  display: inline;
  color: #2e373b;
  margin: 0 15px;
  border-bottom: 1px solid #2e373b;
}
.yellow_three_block {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.one_block {
  margin: 11px;
  cursor: pointer;
}
.one_block img {
  width: 100%;
}
.h5_date {
  font-size: 14px;
  line-height: 1.35em;
  color: #2e373b;
  padding-bottom: 5px;
}
.h3_one_block {
  font-family: 'Plumb';
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3em;
  letter-spacing: -0.01em;
  color: #f6404f;
  padding-bottom: 5px;
  margin-right: 5px;
}
/* white section */
.white_section {
  width: 100%;
  background: #faf3e3;
  padding-top: 75px;
}
.two_image {
  width: 100%;
}
.img_white_section {
  padding: 0px 0px 30px 0px;
  display: block;
  width: 100%;
  margin-bottom: 55px;
}
.news {
  color: #2e373b;
}
.div_flex {
  margin-left: 10px;
  color: #2e373b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news_p {
  color: #2e373b;
}
.news_one {
  cursor: pointer;
  display: flex;
  padding: 7px 15px 15px 15px;
  max-height: 120px;
}
.p_news {
  font-family: 'circe';
  font-size: 16px;
  line-height: 1.35em;
  color: #f6404f;
  padding-left: 30px;
}
.p1_news {
  padding-left: 30px;
  margin-right: 100px;
}
/*  footer*/
footer {
  width: 100%;
  background: #30bcc9;
}
.flex_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu_footer {
  margin-top: 60px;
  margin-right: 50px;
}
.items_footer {
  font-family: 'Plumb';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3em;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.social_footer {
  margin: 30px 30px 0px 0px;
}
.footer_p {
  font-size: 14px;
  color: #e0e0e0;
}
.img_play {
  display: block;
  margin: 8px 0px 8px 0px;
}
.footer_input {
  display: flex;
}
.input_f {
  padding: 11px 0px 11px 20px;
  font-size: 16px;
}
.input_submit {
  border: 1px solid #f6404f;
  background: #f6404f url(./img/message.svg) no-repeat 3px 1px;
  background-size: 18px, 17.92px;
  background-position: center center;
  padding: 0 21px;
}
.message {
  background: #f6404f;
  padding: 15px 15px 8px 12px;
}
.flex_footer:last-child {
  padding-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .one_block {
    width: 30%;
  }
  .header_container {
    width: 95%;
  }
  .container {
    width: 90%;
  }
  .color_div {
    width: 25%;
  }
  footer .container {
    width: 95%;
  }
  .menu_footer {
    width: 25;
    margin-top: 20px;
    margin-right: 30px;
  }
  .menu_items {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .yellow_section {
    padding-top: 20px;
  }
  .p_news {
    padding-left: 20px;
  }
  .p1_news {
    width: 100%;
    padding-left: 20px;
  }
  .space-bet {
    display: block;
  }
  .fore_block_header {
    margin-top: 30px;
    flex-wrap: nowrap;
  }
  .container .fore_block_header {
    width: 100%;
    margin-left: 20px;
  }
  .color_div {
    padding: 13px;
    margin: 15px;
  }
  .color_h2 {
    font-size: 17px;
    width: 100%;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .header_container nav {
    display: block;
  }
  .header_container .img_header {
    display: block;
  }
}
@media screen and (max-width: 999px) {
  .news {
    width: 100%;
  }
  #main-input{
    display: none;
  }
  .menu_burger {
    display: block;
  }
  .header_container nav {
    display: none;
  }
  .header_container .img_header {
    display: none;
  }
  .items_p {
    margin: 8px 0px;
    font-size: 17px;
  }
  .flex_footer:last-child {
    padding-bottom: 20px;
  }
  .menu_footer {
    margin-right: 15px;
  }
  .img_white_section {
    margin: 0px;
    padding: 15px;
    max-width: 100%;
    height: auto;
  }
  .white_section {
    padding-top: 10px;
  }
  .p1_news {
    font-size: 15px;
  }
  .footer_p {
    font-size: 15px;
  }
  .items_h3 {
    font-size: 25px;
  }
  .news_one img {
    max-width: 100%;
    height: auto;
  }
  .h5_date {
    font-size: 14px;
  }
  .p_news {
    margin: 0px 0px 10px 0px;
  }
  .p1_news {
    margin: 10px 0px 0px 0px;
    text-align: start;
  }
}
@media screen and (max-width: 900px) {
  .color_h2 {
    font-size: 15px;
  }
  .flex_footer {
    flex-wrap: nowrap;
  }
  .items_p {
    padding-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  .fore_block_header {
    flex-wrap: wrap;
  }
  #arrow {
    width: 12%;
    height: auto;
  }
  .white_section .container {
    width: 98%;
  }
  .news_one {
    padding-left: 0px;
  }
  .flex_footer {
    flex-direction: row;
  }
  .input_f {
    width: 80%;
    padding: 8px 0px 8px 10px;
    height: auto;
    font-size: 0.8em;
  }
  .items_footer {
    font-size: 16px;
  }
  .footer_p {
    font-size: 13px;
  }
  .input_f::placeholder {
    font-size: 12px;
  }
  .p1_news {
    font-size: 13px;
    width: 100%;
  }
  .p_news {
    font-size: 12px;
  }
  .h3_one_block {
    font-size: 15px;
  }
  .h5_date {
    font-size: 11px;
  }
  .items_p {
    font-size: 12px;
  }
  .yellow_three_block {
    padding-bottom: 10px;
  }
  .color_div {
    width: 30%;
  }
  .news_p {
    font-size: 12px;
  }
  .items_h3 {
    font-size: 18px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 737px) {
  .one_block {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .h5_date {
    font-size: 13px;
  }
  .h3_one_block {
    font-size: 15px;
  }
  .h1_expo {
    font-size: 40px;
  }
  .p_expo {
    font-size: 20px;
  }
  .header_border {
    margin-bottom: 150px;
  }
  .fore_block_header {
    margin-top: 20px;
  }
  .complect_p {
    font-size: 16px;
  }
  .items_h3 {
    font-size: 15px;
  }
  .event {
    font-size: 15px;
  }
  .footer_p {
    font-size: 11px;
  }
  .menu_footer .flex_footer {
    justify-content: center;
  }
  .social_footer {
    padding-top: 15px;
    width: 60%;
    height: auto;
    margin: 2px;
  }
  .img_play {
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 690px) {
  .event {
    font-size: 11px;
  }
  .menu_items {
    margin-top: 10px;
    padding-top: 0px;
  }
  .items_h3 {
    line-height: 0;
  }
  .news {
    display: block;
    margin: 0 auto;
  }
  .img_white_section {
    margin: 0 auto;
    width: 70%;
  }
  .white_section .container > .space-between {
    display: block;
  }
  .blue_section > .container {
    width: 98%;
  }
  .space-between > h2 {
    font-size: 16px;
  }
  .div_flex > img {
    width: 20px;
  }
  .items_p {
    font-size: 10px;
  }
  .fore_block_header {
    padding-left: 20px;
  }
  .items_footer {
    font-size: 14px;
  }
  .input_f {
    font-size: 14px;
    padding: 6px 0px 6px 6px;
  }
  .input_f::placeholder {
    font-size: 12px;
  }
  .input_submit {
    background-size: 16px, 16.92px;
    background-position: center center;
    padding: 6px 15px;
  }
  .yellow_section {
    padding-top: 5px;
  }
  .yellow_three_block {
    margin-top: 10px;
  }
}
@media screen and (max-width: 630px) {
  .h5_date {
    font-size: 10px;
  }
  .items_footer {
    font-size: 13px;
  }
  .input_f {
    font-size: 11px;
  }
  .input_f::placeholder {
    font-size: 10px;
  }
  .footer_p {
    font-size: 9px;
  }
  .items_footer {
    font-size: 11px;
  }
  .items_h3 {
    font-size: 11px;
  }
  .items_p {
    font-size: 9px;
  }
  .h5_date {
    font-size: 9px;
  }
  #logo {
    width: 70%;
    height: auto;
  }
  .h1_expo {
    font-size: 35px;
  }
  .p_expo {
    font-size: 15px;
  }
  .complect_p {
    font-size: 12px;
    margin: 0px;
  }
  .color_div {
    padding: 5px;
    font-size: 13px;
  }
  .color_div_p {
    font-size: 11px;
  }
  .event {
    font-size: 10px;
  }
  .news_one {
    padding: 8px;
  }
}
@media screen and (max-width: 520px) {
  footer .container {
    width: 100%;
  }
  .items_footer {
    font-size: 9px;
  }
  .footer_p {
    font-size: 8px;
  }
  .input_f {
    font-size: 0.5em;
    max-width: 100%;
    padding: 4px;
  }
  .menu_footer:last-child {
    position: relative;
  }
  .footer_input {
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: -40px;
  }
  .input_f::placeholder {
    font-size: 8px;
  }
  .flex_footer:last-child {
    padding-bottom: 5px;
  }
  .items_h3 {
    font-size: 10px;
  }
  .items_p {
    font-size: 8px;
  }
}
